.map-container {
  height: calc(
    100vh - 102px
  ); /* Subtract the header height (e.g., 60px) from the viewport height */
  width: 100%;
  border: 1px solid #cccccc;
}

.maplibregl-popup {
  max-width: 300px;
  font:
    12px/20px 'Helvetica Neue',
    Arial,
    Helvetica,
    sans-serif;
  pointer-events: auto;
}

.maplibregl-popup-content {
  text-align: left;
  padding: 10px;
  border-radius: 4px;
  background: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.maplibregl-popup-tip {
  border-color: white transparent transparent transparent;
}
